@model HaynyBatista.Models.Articulo

@{
    ViewBag.Title = "Articulo";
}

@section head{
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Titulo" />
    <meta property="og:description" content="@Model.Contenido.StripHtml().Substring(0,90)@("...")" />
    <meta property="og:image" content="@Html.Raw(@Url.Content("~/ImagenesSubidas/" + Model.Imagen.IdImagen + Model.Imagen.Formato,true))" />
    <meta property="fb:app_id" content="1932433733741110" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:card" content="summary" />
    @Html.Raw("<meta name='twitter:site' content='@TheSlimZ' />")
    @Html.Raw("<meta name='twitter:creator' content='@TheSlimZ' />")
}
@Html.Partial("SocialMediaEnabler")
<div class="row">
    <div class="col-md-9">
        @if (this.User.IsInRole("Administrador"))
        {
            <div class="mx-5 my-2">
                <button class="btn-block haynyBtn btn-success py-2" data-toggle="modal" data-target="#ActualizarArticulo"><strong>Editar Articulo</strong><i class="fa fa-pencil-square-o ml-2" aria-hidden="true"></i></button>
            </div>
        }
        <div class="ArticuloDetalleContainer mx-5 p-3 bg-white">
            <h3 class="text-center">
                @Model.Titulo
                @if (this.User.IsInRole("Administrador"))
                {

                    <a href="@Url.Action("BorrarArticulo", new { id = Model.IdArticulo})" class="btn haynyBtn btn-danger text-white p-2 float-right"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

                }
            </h3>
            <p class="LowImportance text-center">Escrito por <span><a class="PageLink" href="#">@Model.Usuario.Nombre @Model.Usuario.Apellido</a></span> el @Model.FechaSubida.ToString("dd/MM/yyyy hh:mm tt")</p>
            <img class="img-fluid d-block mx-auto" src="/ImagenesSubidas/@Model.Imagen.IdImagen@Model.Imagen.Formato" />
            <div class="mt-5 px-4">
                @Html.Raw(@Model.Contenido)
            </div>
            <hr />
            <a class="facebook text-center ShareArticle" href="#hidFacebookbtn"><i class="fa fa-facebook"></i></a>

            <!-- twitter -->
            <a class="twitter  text-center ShareArticle" href="https://twitter.com/intent/tweet" target="blank"><i class="fa fa-twitter"></i></a>

            <a class="googleplus  text-center ShareArticle" href="https://plus.google.com/share?url={{url}}" target="blank"><i class="fa fa-google-plus"></i></a>

        </div>
    </div>
    <div class="col-md-3">
        @using (@Html.BeginForm("Index", "Articulo", FormMethod.Get, new { @class = "form-inline" }))
        {

            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                        <input type="text" name="filtro" class="form-control" id="inlineFormInputGroup" placeholder="Buscar..." value="@ViewBag.Filtro">
                    </div>
                </div>
            </div>
        }

        <div class="mt-4">
            <div class="btn-info rounded-top p-1">
                <h5><i class="fa fa-tag mx-1"></i>Etiquetas </h5>
            </div>
            <div class="bg-white ArticuloDetalleContainer">
                @foreach (var etiquetaArticulo in Model.EtiquetaArticulo)
                {@Html.ActionLink(etiquetaArticulo.Etiqueta.Nombre, "Index", new { filtro = etiquetaArticulo.Etiqueta.Nombre }, new { @class = "badge badge-pill badge-info m-1" })}

            </div>
        </div>
    </div>
</div>

@if (this.User.IsInRole("Administrador"))
{
    @section OutsideContainer{
        <form id="frmActualizarArticulo" method="post" enctype="multipart/form-data">
            <div class="modal fade" id="ActualizarArticulo">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="d-flex flex-row-reverse">
                                <button type="button" class="haynyBtn btn-info px-3 mx-2" id="btnLimpiarArticulo">
                                    <span aria-hidden="true">Limpiar <i class="fa fa-asterisk" aria-hidden="true"></i></span>
                                </button>
                                <button type="button" class="haynyBtn btn-success px-3" id="btnActualizarArticulo" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">Actualizar <i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                </button>

                            </div>



                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mw-100">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9">
                                        <textarea name="Titulo" id="inputTituloArticulo" class="TitleInput ASTextArea requerido" data-title="Titulo" placeholder="Titulo...">@Model.Titulo</textarea>
                                        <textarea name="Contenido" id="inputContenidoArticulo" data-title="Contenido" class="tinymceTextArea mt-2 tinyMCErequerido">
                                                    @Html.Raw(Model.Contenido)

                                </textarea>
                                    </div>
                                    <div class="col-md-3">
                                        <div id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header SettingHeader" role="tab" id="TagsSettingsH">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex">
                                                            <a class="SettingHeaderAnchor" data-toggle="collapse" data-parent="#accordion" href="#TagsSettingsB" aria-expanded="true" aria-controls="collapseOne">
                                                                <i class="fa fa-tags mr-1" aria-hidden="true"></i><span>Etiquetas</span>
                                                            </a>
                                                        </div>
                                                        <div class="d-flex">
                                                            <i class="fa fa-arrow-right SettingHeaderArrow pt-1" aria-hidden="true"></i>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div id="TagsSettingsB" class="collapse p-md-2 SettingBody" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-block">
                                                        <div class="form-group">
                                                            <label for="exampleInputPassword1">Etiquetas <i class="fa fa-info-circle text-info tooltipTrigger" data-toggle="tooltip" data-placement="top" title="Introduzca Etiquetas para hacer más facil su busqueda. Separe las etiquetas por coma ','" aria-hidden="true"></i></label>
                                                            <input name="Etiquetas" type="text" class="form-control" id="Etiquetas" data-role="tagsinput" placeholder="Etiqueta">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header SettingHeader" role="tab" id="ImageSettingsH">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex">
                                                            <a class="SettingHeaderAnchor" data-toggle="collapse" data-parent="#accordion" href="#ImageSettingsB" aria-expanded="true" aria-controls="collapseOne">
                                                                <i class="fa fa-picture-o mr-1" aria-hidden="true"></i><span>Imagen</span>
                                                            </a>
                                                        </div>
                                                        <div class="d-flex">
                                                            <i class="fa fa-arrow-right SettingHeaderArrow pt-1" aria-hidden="true"></i>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div id="ImageSettingsB" class="collapse p-md-2 SettingBody" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-block">
                                                        <div class="d-flex flex-column justify-content-center">
                                                            <div class="d-flex justify-content-center">
                                                                <a class="haynyBtn btn-danger text-white indirectClick" href="#inputImgArticulo">Subir Imagen</a>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-column justify-content-center ImagePreviewContainer my-2" id="ImgContainerInputArticulo">

                                                        </div>
                                                        <input type="file" class="d-none" id="inputImgArticulo" accept="image/*" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    }

}



@if (this.User.IsInRole("Administrador"))
{
    @section Scripts{
        <script>
            $(document).ready(function () {
                $("#inputImgArticulo").on("change", function () {
                    var button = $(this);
                    $("#ImgContainerInputArticulo").addTempClass({
                        className: "animated bounceIn",
                        timeOut: 2000

                    });
                    SetImgBackgroundFromFile(this, $("#ImgContainerInputArticulo"));

                })

                $(".SettingBody").on("show.bs.collapse hide.bs.collapse", function () {
                    $(this).siblings(".SettingHeader").find(".SettingHeaderArrow").toggleClass("flip90Positive");
                });

                $(".SettingHeader").click(function (event) {
                    $($(this).find(".SettingHeaderAnchor").attr("href")).collapse("toggle");
                });

                $("#btnActualizarArticulo").click(function () {
                    ActualizarArticulo();
                });
                $("#btnLimpiarArticulo").click(function () {
                    LimpiarCamposArticulo();
                });

                $(".facebook.ShareArticle").click(function () {
                    FB.ui({
                        method: 'share',
                        display: 'popup',
                        href: '@Request.Url.AbsoluteUri',

                        }, function (response) { });
                })

                @foreach(var e in Model.EtiquetaArticulo)
                {
                    <text>
                    $("#Etiquetas").tagsinput('add',  '</text>@e.Etiqueta.Nombre<text>');</text>

                }

            })
            function LimpiarCamposArticulo() {
                $("#inputImgArticulo").val("");
                $("#inputTituloArticulo").val("");
                tinymce.get('inputContenidoArticulo').setContent("");
                $("#ImgContainerInputArticulo").css("background-image", "");
                $("#Etiquetas").tagsinput('removeAll');
            }
            function ActualizarArticulo() {
                var formData = new FormData();

                var inputImagen = $("#inputImgArticulo")[0];

                var validacion = validarForm("#frmActualizarArticulo");
                if (validacion.Estado) {
                    if (!inputImagen.files) {
                        Notificar("prueba", "<p>Su navegador no soporta subida de archivos</p>")
                    } else if (!inputImagen.files[0]) {

                    } else {
                        formData.append("Imagen", inputImagen.files[0]);
                    }

                    tinymce.get('inputContenidoArticulo').getContent();
                    formData.append("Titulo", $("#inputTituloArticulo").val());
                    formData.append("Contenido", tinymce.get('inputContenidoArticulo').getContent());
                    formData.append("IdArticulo", '@Model.IdArticulo');

                    var etiquetas = $("#Etiquetas").val().split(",").filter((val) => val).map(function (value) {
                        object = {
                            Nombre: value
                        };
                        return object;
                    });

                    formData.append("Etiquetas", JSON.stringify(etiquetas));

                    $.ajax({
                        url: "/Articulo/ActualizarArticulo",
                        data: formData,
                        type: "POST",
                        async: false,
                        contentType: false,
                        processData: false,
                        dataType: "json",
                        success: function (result) {
                            console.log(result);
                            if (result.Success) {
                                Notificar("asd", "<p>" + result.Message + "</p>");
                                setTimeout(function () {
                                    location.reload();
                                }, 2000)
                            } else {
                                Notificar("asd", "<p>" + result.Message + "</p>");
                            }
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });

                } else {
                    for (var error of validacion.Errores) {
                        if (error.objeto.is(":visible")) {
                            $(error.objeto).data("toggle", "tooltip");
                            $(error.objeto).data("placement", "right");
                            $(error.objeto).attr("title", error.msg);
                            $(error.objeto).tooltip("toggle");
                            setTimeout(function () {
                                $(error.objeto.attr("id")).tooltip("dispose");
                            }, 2000)
                        }

                    }
                }



            }
            function SetImgBackgroundFromFile(input, element) {
                if (window.File && window.FileList && window.FileReader) {
                    var files = input.files;
                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];

                        if (!file.type.match('image')) continue;

                        var picReader = new FileReader();

                        picReader.addEventListener("load", function (event) {
                            var picFile = event.target;
                            $(element).css("background-size", "contain");
                            $(element).css("background-repeat", "no-repeat");
                            $(element).css("background-position", "center center");
                            $(element).css("background-image", "url(" + picFile.result + ")");
                        });

                        picReader.readAsDataURL(files[i]);

                    }
                } else {
                    Notificar("", "<p>Tu navegador no soporta File API</p>");
                }
            }
        </script>

    }
}
