@model HaynyBatista.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Unete";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hayny Batista</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/LayoutCss")
    <style>
        .body-content {
            background-size: 400% 400% !important;
        }
    </style>
</head>
<body>
    <button class="returnButton">
        <i class="fa fa-arrow-circle-left fa-5x" aria-hidden="true"></i>
    </button>
    <div class="container-fluid body-content pt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 my-5 RegisterFormContainer">
                @using (Html.BeginForm("ExternalLoginConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal RegisterForm", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="RegisterFormHeader p-2 text-center">
                        <img class="img-fluid d-inline my-3" style="max-height: 100px" src="~/Content/Images/SaludPsicologica.png" />
                        <h4 class="fg-purple">Vincula tu cuenta @ViewBag.LoginProvider</h4>
                    </div>
                    <p class="text-success">
                        Has vinculado tu cuenta de <strong>@ViewBag.LoginProvider</strong>.
                        Llena estos datos y únete.
                    </p>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nombre, new { @class = "col-md-10 control-label" })
                        <div class="col-md-11 mx-2">
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Apellido, new { @class = "col-md-10 control-label" })
                        <div class="col-md-11 mx-2">
                            @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-10 control-label" })
                        <div class="col-md-11 mx-2">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-10 control-label" })
                        <div class="col-md-11 mx-2">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>
                <div class="d-flex justify-content-center mb-3">
                        <input type="submit" class="haynyBtn bg-purple text-white" style="min-width: 100px" value="Unete" />
                    </div>
                }

            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/LayoutJs")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".RegisterForm").addClass("animated fadeIn")
            $(".menu, footer").css("display", "none");
            $(".body-content").css("background-size", "400% 400%")
            $(".body-content").css("background", "linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB)")
            $(".body-content").css("animation", "Gradient 10s ease infinite")
            $(".body-content").css("min-height", $(window).height() + "px");

            $(".returnButton").click(function () {
              window.location = "@Url.Action("Index", "Home")";
            });
        });
    </script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
