@using HaynyBatista.Models
@model LoginViewModel
@{
    ViewBag.Title = "Inicia";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hayny Batista</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/LayoutCss")
    <style>
        .body-content {
            background-size: 400% 400% !important;
        }
    </style>
</head>
<body>
    <button class="returnButton">
        <i class="fa fa-arrow-circle-left fa-5x" aria-hidden="true"></i>
    </button>
    <div class="container-fluid body-content pt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 my-5 RegisterFormContainer">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal RegisterForm", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="RegisterFormHeader p-2">

                        <h4 class="text-danger"><img class="img-fluid d-inline mr-3 rounded-circle" src="http://via.placeholder.com/50x50" />Inicia</h4>
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-10 control-label" })
                        <div class="col-md-11 mx-2">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label" })
                        <div class="col-md-11 mx-2">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <p class="ml-3">No tienes cuenta? @Html.ActionLink("Unete","Register","Account", null, new { @class = "text-danger"})</p>
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="haynyBtn bg-danger text-white" style="min-width: 100px" value="Unete" />
                    </div>
                    <hr class="hr-text" data-content="O" />

                }
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })


            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/LayoutJs")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".RegisterFormContainer").addClass("animated fadeIn")
            $(".menu, footer").css("display", "none");
            $(".body-content").css("background-size", "400% 400%")
            $(".body-content").css("background", "linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB)")
            $(".body-content").css("animation", "Gradient 10s ease infinite")

            $(".body-content").css("min-height", $(window).height() + "px");
            $(".returnButton").click(function () {
              window.location = "@Url.Action("Index", "Home")";
            });
        });
    </script>
</body>
</html>