@model HaynyBatista.Models.Compra

@{
    ViewBag.Title = "Detalles";
}

<div class="col-md-8 offset-md-2 bg-white p-3">
    <h4>Compra</h4>
    <hr />
    <div class="row">
        <div class="col">
            <h4 class="font-weight-bold">
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </h4>
            <p>@Html.DisplayFor(model => model.Usuario.Nombre) @Html.DisplayFor(model => model.Usuario.Apellido)</p>
        </div>
        <div class="col">
            <h4 class="font-weight-bold">
                @Html.DisplayNameFor(model => model.Direccion)
            </h4>
            <p>@Html.DisplayFor(model => model.Direccion)</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="font-weight-bold">
                @Html.DisplayNameFor(model => model.Sector)
            </h4>
            <p>@Html.DisplayFor(model => model.Sector) </p>
        </div>
        <div class="col">
            <h4 class="font-weight-bold">
                @Html.DisplayNameFor(model => model.Provincia)
            </h4>
            <p>@Html.DisplayFor(model => model.Provincia)</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <th></th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>