@model HaynyBatista.Models.ViewModels.AdminCitaViewModel

@{
    ViewBag.Title = "Cita";
}

<div class="row">
    @Html.Partial("~/Views/Shared/_AdminMenu.cshtml")
    <div class="col-md-8 offset-md-1 bg-white p-4 rounded border-light">
        <table id="CitaTable" class="DataTable table-hover w-100">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Costo</th>
                    <th>Mensaje</th>
                    <th>Forma Pago</th>
                    <th><i class="fa fa-pencil"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cita in Model.Citas)
                {
                    <tr>
                        <td class="text-center Usuarios" data-idUsuarios="@String.Join(",",cita.Usuarios.Select(x => x.IdUsuario).ToArray())">@String.Join(",",cita.Usuarios.Select(x => x.Nombre + " " + x.Apellido).ToArray())</td>
                        <td class="text-center TipoCita">@cita.TipoCita.Nombre</td>
                        <td><span style="background-color: @cita.EstadoCita.Color" class="badge badge-pill">@cita.EstadoCita.Nombre</span></td>
                        <td class="text-center Fecha">@cita.Fecha.ToString("dd/MM/yyyy")</td>
                        <td class="text-center HoraInicio">@cita.HoraInicio</td>
                        <td class="text-center HoraFin">@cita.HoraFin</td>
                        <td class="text-center">@cita.Costo</td>
                        <td class="text-center"><a href="#" data-toggle="tooltip" data-html="true" title="@cita.Mensaje" class="HaynyLink"><i class="fa fa-commenting"></i></a></td>

                        <td class="text-center">@cita.FormaPago.Nombre</td>
                        <td class="text-center"><a href="#" data-toggle="modal" data-target="#EditarCitaModal" data-id="@cita.IdCita" class="HaynyLink"><i class="fa fa-edit"></i></a></td>
                        @*<td><a href="#" data-toggle="modal" data-target="#mailModal" data-nombre="i.Nombre @i.Apellido" data-id="@i.UserId" class="SendEmail HaynyLink"><i class="fa fa-paper-plane"></i></a></td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section OutsideContainer{

    <div class="modal fade" id="EditarCitaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarCitaTitle">Editar Cita</h5>
                    <div>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <button type="button" title="Borrar Cita" class="btn btn-danger" >
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    
                </div>
                <div class="modal-body">
                    <form id="frmCita">
                        <input class="d-none requerido" type="text" id="txtId" data-title="Id" />
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Fecha:</label>
                            <input type="text" class="form-control requerido DatePickerUI" id="txtFecha" data-title="Fecha">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Estado:</label>
                            @Html.DropDownList("slctEstado", new SelectList(Model.Estados, "IdEstadoCita", "Nombre"), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Hora Inicio:</label>
                            <input type="time" class="form-control requerido" id="txtHoraInicio" data-title="Fecha">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Hora Fin:</label>
                            <input type="time" class="form-control requerido" id="txtHoraFin" data-title="Fecha">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnActualizarCita" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>
        $(document).ready(() => {
            function validarCita() {
                //var DateRegex = new RegExp("^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$");
                //var TimeRegex = new RegExp("^((?:[01]\d|2[0-3]):[0-5]\d$)");
                if (!moment($("#txtFecha").val(),"YYYY/MM/DD").isValid()) {
                    Notificar("", "Ingrese una fecha valida.");
                    return false;
                }

                if (!moment($("#txtHoraInicio").val(),"HH:mm").isValid()) {
                    Notificar("", "Ingrese una hora inicial valida.")
                    return false;
                }

                if (!moment($("#txtHoraFin").val(), "HH:mm").isValid()) {
                    Notificar("", "Ingrese una hora final valida.")
                    return false;
                }
                return true
            }

            function ActualizarCita() {
                if (validarCita()) {
                    Notificar("", "Actualizando");
                    var fecha = moment($("#txtFecha").val(), "DD/MM/YYYY").toDate();
                    var horaInicio = moment($("#txtHoraInicio").val(), "HH:mm").toDate();
                    var horaFin = moment($("#txtHoraFin").val(), "HH:mm").toDate();
                    
                    
                    var data = {
                        IdCita: $("#txtId").val(),
                        Fecha: fecha,
                        IdEstadoCita: $("#slctEstado").val(),
                        HoraInicio: $("#txtHoraInicio").val(),
                        HoraFin: $("#txtHoraFin").val()
                    }

                    console.log(data);

                    $.ajax({
                        url: "/Consulta/ActualizarCita",
                        data: JSON.stringify(data),
                        type: "POST",
                        async: true,
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            $('#EditarCitaModal').modal('hide');
                            if (result.Success) {
                                Notificar("", "<p>" + result.Message + "</p>");
                                //$("#calendar").fullCalendar('refetchEvents');
                                //setTimeout(function () {
                                //    location.reload();
                                //}, 2000)
                            } else {
                                Notificar("asd", "<p>" + result.Message + "</p>");
                            }
                        },
                        error: function (errorMessage) {
                            alert(errorMessage.responseText);
                        }
                    });
                }

            }
            $("#btnActualizarCita").click(() => {
                ActualizarCita();
            });
            $("#CitaTable a[data-target='#EditarCitaModal']").click((event) => {

                let row = $(event.target).parent().parent().parent();

                let usuarios = row.find(".Usuarios").text();
                let usuariosId = row.find(".Usuarios").data("idusuarios");
                let tipoCita = row.find(".TipoCita").text();
                let fechaCita = row.find(".Fecha").text();
                let regexHora = new RegExp('([0-2])([0-9]):([0-6])([0-9])');
                let horaInicio = regexHora.exec(row.find(".HoraInicio").text())[0];
                let horaFin = regexHora.exec(row.find(".HoraFin").text())[0];
                let texto = `Editar cita con ${usuarios} del ${fechaCita}`;
                
                $("#txtId").val($(event.target).parent().data("id"));
                $("#txtFecha").val(fechaCita);
                $("#txtHoraInicio").val(horaInicio);
                $("#txtHoraFin").val(horaFin);
                $("#EditarCitaModal #editarCitaTitle").text(texto);
            });

        });
       
    </script>    
    
    }