@model IEnumerable<Producto>
@{
    ViewBag.Title = "Tienda";
}

<div class="row">
    @Html.Partial("~/Views/Shared/_AdminMenu.cshtml")
    <div class="col-md-8 offset-md-1 bg-white p-4 rounded border-light">
        <table id="CitaTable" class="DataTable table-hover w-100">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Categoria</th>
                    <th><i class="fa fa-pencil"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model)
                {
                    <tr>
                        <td class="text-center Titulo">@producto.Titulo</td>
                        <td>@Html.Raw(producto.Descripcion)</td>   
                        <td>@producto.Precio</td>
                        <td>@producto.Cantidad</td>
                        <td>@producto.Categoria.Nombre</td>
                        <td class="text-center"><a href="@Url.Action("Editar","Producto",new { id = producto.ProductoID})" class="HaynyLink"><i class="fa fa-edit"></i></a></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(() => {


        });

    </script>

}