<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - Hayny Batista</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/LayoutCss")
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <div class="menu d-flex justify-content-between">
            <div class="NavTogglerContainer NavIcon d-md-none d-sm-flex">
                <a href="#" class="NavToggler">
                    <div class="d-flex align-items-center">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                </a>
            </div>
            <div class="logo d-flex pl-md-3">
                <a class="d-block" href="@Url.Action("Index","Home")">
                    <img class='' id="NavLogo" src="~/Content/Images/SaludPsicologica.png" />
                </a>
            </div>
            <div class="NavLinks d-flex">
                <div class="NavLink LowerLink">@Html.ActionLink("Blog", "Index", "Articulo")</div>
                <div class="NavLink  LowerLink">@Html.ActionLink("Consulta", "Index", "Consulta", null, new { @class = "MainNavLink" })</div>
                <div class="NavLink  LowerLink">@Html.ActionLink("Productos", "List", "Producto", null, new { @class = "MainNavLink" })</div>
                <!--<div class="NavLink LowerLink"><a href="#">Tienda</a></div>-->
                @if (User.IsInRole("Administrador"))
                {
                    <div class="NavLink  LowerLink">@Html.ActionLink("Administrar", "Usuario", "Admin", null, new { @class = "MainNavLink" })</div>
                }
            </div>
            <div class="UserLinks d-flex">
                @Html.Partial("_LoginPartial")
                @Html.Action("Summary", "Carrito")
            </div>

        </div>
    </header>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="container-fluid body-content pt-3">
        @RenderBody()
    </div>
    @RenderSection("OutsideContainer", required: false)
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/LayoutJs")
    @RenderSection("scripts", required: false)
</body>
</html>
